= membership.member.email
- if membership.member != @team.owner 
  - if can? :destroy, membership
    = link_to membership.member == current_user ? 'Leave this team ' : 'Remove user from team',
      delete_team_membership_path(membership, team: @team),
      method: :delete,
      data: { confirm: "Are you sure?" }

  - if can?(:remove_admin, @team) && membership.admin?
    = link_to 'Revoke admin', 
      remove_admin_team_path(@team, user: membership.member),
      method: :post,
      data: { confirm: "Are you sure?" }

  - elsif can? :make_admin, @team
    = link_to 'Make user admin', 
      make_admin_team_path(@team, user: membership.member),
      method: :post,
      data: { confirm: "Are you sure?" }

  - if can? :grant_ownership, @team 
    = link_to 'Transfer ownership to this user', 
      grant_ownership_team_path(@team, user: membership.member),
      method: :post,
      data: { confirm: "Are you sure?" }
