= "Hi there,\n#{@message.user.email} asked that you be notified!"
Your form titled "#{@message.action.name}" was submitted with the following data:

= "{ " + @message.payload.map{ |sublist| sublist.join(": ") }.join(",\n  ") + " }"

= mail_to @message.email, "Reply directly to this submission", { subject: 'FormGuard Submission', body: "#{@message.content}" }
